h1{	text-align: center;
	color:white;
	background-color:black;
	padding-left: 60px
	margin-left:40px;
	font-size: 50px;
	font-family: 'Black Han Sans', sans-serif;
	}

h5{	text-align: center;
	color:red;
	padding-left: 60px
	margin-left:40px;
	font-size: 15px;
	}

h6{	text-align: center;
	color:red;
	padding-left: 60px
	margin-left:40px;
	font-size: 15px;
	}



p{	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	}

b {	color:orange;
	background: black;
	}

body{background:green !important;
	margin: 0;}
	

img{width: 30px;
	height: 30px;
	background: black;
	margin-right: 5px;
	margin-left: 5px;
	padding:5px;
	border-radius: 5px;
	}

a{	text-decoration: none !important;
	color: #0000FF !important;          /*Color del link*/ /*#0A18B2*/
	color:#00008B;
	}

article{background: #B0C4DE;}

footer{	margin-top:50;
		width: 100%;
		height: 200px;
		padding: 30px;
		background: black;
		font-family: 'Black Han Sans', sans-serif;
		font-size:18px;
		}
		

#datos-personales{list-style: none;}

nav{float: none !important ;
	background: green !important;
	cursor: pointer !important;
}




.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
