h1 {	
	text-align: center !important;
	color:#157A31 !important;
	/*background: blue;	*/
	font-size: 50px  !important;
	background: linear-gradient(90deg, rgba(232,113,21,1) 0%, rgba(25,43,172,1) 56%, rgba(0,212,255,1) 100%) !important;
	clear: both !important;
	margin-left: 50px !important;
	margin-right: 50px !important;
	margin-bottom: 20px !important;
	margin-top: 20px !important;
	}
/*
h3{
	text-align: center;
	font-size: 20px;
	color:red;
	}
	
h4{
	text-align: center;
	font-size: 20px;
	color:red;
	}

h5{	
	text-orientation: left;
	color:white;
	font-size: 50px;
	}


h6{	
	text-align: center;
	font-size: 35px;
	color:red; 
	}*/

div p{	line-height: 25px;}

div{line-height: 25px;}

article{
		/*padding: 50px;
		margin:50px;*/
		padding-top: 5%;
		padding-bottom: 5%;
		/*margin-top: 20px;*/
		/*margin-bottom: 20px;*/
		margin-left: 5%;
		margin-right: 200px;
		font-size: 20px;
		clear: both;
		}

/*
address{
		border: 1px red solid;
		padding:2%;
		border-radius: 10px;
		background-color: yellow;
		color:44F60B;
		}*/


	
footer{	
	/*margin-top:50;*/
	/*width: 100%;*/
	/*height: 200px;*/
	/*border: 1px green solid;*/
	/*border-radius: 10px;*/
	padding:2%;
	background-image: -webkit-linear-gradient(left, red, yellow);
	background-image: -o-linear-gradient(left, red, yellow);
	background-image: linear-gradient(to right, red, yellow);
	}


a{
	text-decoration: none;
	color: #0000FF   /*COLOR DEL LINK OJO*/
	}


div{float: none;}

div p{

	line-height: 1.5em;
	color: #000000!important;
 /*font-size: 0.875em;*/
}

header {
 /* background: url(../img/bg-header.jpeg) no-repeat center;*/

  /*background-size: cover;
  min-height: 100px;*/
}


nav ul li:hover{
			list-style: none !important;
			float:left !important;
			border: 4px solid gray !important;
			text-orientation: center !important;
			list-style: none !important;
			font-family: 'Black Han Sans', sans-serif !important;
			padding: 1px !important;
			margin:1px !important;
	    	color: #777777!important;


			/*border-left: none;
			border-bottom: none;
			padding-left: 80px;
			margin-left:80px;
			text-align: center;
			list-style: none;*/
			}


data-address{
 				text-align: left;
 				font-size: 20px;
 			}
			 
article div{ font-size: 24px;
width: 100%;
  margin-bottom: 20px;
}


address div ul li p {
					text-align:left;
					font-size: 35px;
					color:black;
					}

nav{ 
width: 100%; 
padding: 10px 15px 10px !important;
color: #777777 !important;
text-decoration: none !important;
text-shadow: 0 1px 0 #ffffff !important;
}



div div ul li b {color:#000000!important;}
footer div div ul li b {color:#000000!important;} 

/*     ID´S     */
#quinto_item{list-style: none !important;} /*PRIMERA LINEA DEL FOOTER*/
#sexto_item{list-style: none !important;} /*SEGUNDA LINEA DEL FOOTER*/
#septimo_item{list-style: none !important;} /*TERCER LINEA DEL FOOTER*/
#octavo_item{list-style: none !important;}  /*CUARTA LINEA DEL FOOTER*/
#noveno_item{list-style: none !important;} /*QUINTA LINEA DEL FOOTER*/
#desimo_item{list-style: none !important;}  /*SACA LOS ASTERISCOS A REDES SOCIALES DE COMIT*/
#desimoprimero_item{list-style: none !important;}        /*SACA LOS AASTERIOSCOS DE TELECOM LOGO*/
#desimosegundo_item{list-style: none !important;} /*SEPTIMA LINEA DEL FOOTER*/
#desimotercero_item{list-style: none !important;} /*SACA LOS ASTERISCOS A LAS REDES SOCIALES DE TELECOM*/


/*		CLASS	*/
.logo_institucional{/*width: 70px;*/	height: 30px;}
.logo_comit{ width: 100px !important; height: 100px !important; }
.logo_facebook{width: 30px !important; height: 30px !important;}
.logo_instagram{width: 30px !important; height: 30px !important;}
.logo_twitter{width: 30px !important; height: 30px !important;}
.logo_youtube{width: 30px !important; height: 30px !important;}
.logo_linkedin{width: 30px !important; height: 30px !important;}
.logo_telecom{width: 100px !important; height: 100px !important;}

.b2p{

	}

.subtitulos{
			color:green !important;
			/*border: 1px solid !important;*/
			/*border-radius: 7px !important;*/
			padding-top:  20px !important;
			margin-top: 20px !important;
			
			}

.data_1f{
color:#000000!important;
/*color:#333333*/;
}
.data_2f{
color:#000000!important;
/*color:#333333*/;
text-align: left!important;
}
.data_3f{
color:#000000!important;
/*color:#333333*/;
}
.data_4f{
color:#000000!important;
/*color:#333333*/;
}
.data_5f{
color:#000000!important;
/*color:#333333*/;
}
.data_6f{
color:#000000!important;
/*color:#333333*/;
}
.data_7f{
color:#000000!important;
/*color:#333333*/;
border: 1px green solid !important;
border-radius: 10px !important;
}
.data_8f{
color:#000000!important;
/*color:#333333*/;
}
.data_9f{.
color:#000000!important;
/*color:#333333*/;
}
.data_10f{.
color:#000000!important;
/*color:#333333*/;
}
.data_f10 a:hover{
text-decoration: none!important;
color: #0000FF!important;
}
.data_11f{
color:#000000!important;
/*color:#333333*/;
}
.data_12f{.
color:#000000!important;
/*color:#333333*/;
float: left !important;
}
.data_13f{.
color:#000000!important;
/*color:#333333*/;
}
.data_14f{.
color:#000000!important;
/*color:#333333*/;
}
.data_f13 a{
text-decoration: none !important;
color: #0000FF!important;

}
.data_f14 a{
text-decoration: none !important;
color: #0000FF!important;
}

.navbar-inner{
    /*height: 90px*/
    min-height: 15px;
    }
.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }