body{

}

h1{	text-align: center;
	color:#157A31;
	/*background: blue;	*/
	font-size: 80px;
	background: linear-gradient(90deg, rgba(232,113,21,1) 0%, rgba(25,43,172,1) 56%, rgba(0,212,255,1) 100%);
	clear: both;}


}

h3{
	text-align: center;
	font-size: 20px;
	color:red;
	}
	
h4{
	text-align: center;
	font-size: 20px;
	color:red;
	}

h5{	text-orientation: left;
	color:white;
	font-size: 50px;}


h6{	text-align: center;
	font-size: 35px;
	color:red; }

/*		CLASS	*/

.director{
	text-align: center;
	color:black;
	border-color: gray;
	
}

.prof_1{

}

b .prof_1{
	color:red;
}

.prof_1{

}

.logo{
	height: 30px;