h1{	text-align: center;
	color:#157A31;
	/*background: blue;	*/
	font-size: 80px;
	background: linear-gradient(90deg, rgba(232,113,21,1) 0%, rgba(25,43,172,1) 56%, rgba(0,212,255,1) 100%);
	clear: both;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}



h3{
	text-align: center;
	font-size: 20px;
	color:red;
	}
	
h4{
	text-align: center;
	font-size: 20px;
	color:red;
	}

h5{	text-orientation: left;
	color:white;
	font-size: 50px;}


h6{	text-align: center;
	font-size: 35px;
	color:red; }


article{
		/*padding: 50px;
		margin:50px;*/
		padding-top: 5%;
		padding-bottom: 5%;
		/*margin-top: 20px;*/
		/*margin-bottom: 20px;*/
		margin-left: 5%;
		margin-right: 200px;
		font-size: 20px;
		/*background: url(../images/velerosf.png); FONDO DEL ARTICLE*/
		clear: both;
	}


address{
		border: 1px red solid;
		padding:2%;
		border-radius: 10px;
		background-color: yellow;
		color:44F60B;}


	
footer{	margin-top:50;
		width: 100%;
		height: 200px;
		border: 1px green solid;
		border-radius: 10px;
		padding:2%;
		background-image: -webkit-linear-gradient(left, red, yellow);
		background-image: -o-linear-gradient(left, red, yellow);
		background-image: linear-gradient(to right, red, yellow);
		}


a{text-decoration: none;color: #0000FF;}


div{float: none;}




.logo{
	/*width: 70px;*/
	height: 30px;}


header {
 /* background: url(../img/bg-header.jpeg) no-repeat center;*/

  /*background-size: cover;
  min-height: 100px;*/
}


nav ul li{
			list-style: none;
			float:left;
			border: 4px solid gray;
			text-orientation: center;
			list-style: none;
			font-family: 'Black Han Sans', sans-serif;
			padding: 1px;
			margin:1px;

			/*border-left: none;
			border-bottom: none;
			padding-left: 80px;
			margin-left:80px;
			text-align: center;
			list-style: none;*/
			}


data-address{
 				text-align: left;
 				font-size: 20px;
 			}
			 
article div{ font-size: 24px;
width: 100%;
  margin-bottom: 20px;
}


address div ul li p {
					text-align:left;
					font-size: 35px;
					color:black;
					}

nav{ width: 100%; }


.navbar-inner{
    /*height: 90px*/
    min-height: 15px;
    }
.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}
 /*
.saludo_1{
			background: red;
			color:green;
			text-align: center;
			width: 100%;
			position: relative;
			clear: both;
			}*/

			/* A REEVISAR  ALERT SALUDO DE BIENBENIDA*/
